<div class="row">
  <div class="col-xs-12">
    <h1 class="center"><%= @date.to_date.to_s(:long) %></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <%= link_to "Previous", snaps_path(:date => @date.yesterday.to_s(:number)), class: "btn btn-primary btn-md btn-block" %>
  </div>
  <div class="col-xs-6">
    <%= link_to "Next", snaps_path(:date => @date.tomorrow.to_s(:number)), class: "btn btn-primary btn-md btn-block" %>
  </div>
</div><!-- /.row -->
<div id="snaps" class="transitions-enabled">
  <% @snaps.each do |snap| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(snap.image.url(:small)), snap %>
      <div class="panel-body">
        <p><strong><%= snap.title %></strong></p>
        <%= snap.user.username if snap.user %>
        <% if snap.user == current_user %>
          <div class="actions">
            <%= link_to edit_snap_path(snap) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to snap, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
