<%= render 'pages/home' unless user_signed_in? %>
<div id="snaps" class="transitions-enabled">
  <% @snaps.each do |snap| %>
    <div class="box panel panel-default">
      <%=  %>
      <%= link_to image_tag(snap.image.url(:small)), snap %>
      <div class="panel-body">
        <p><strong><%= snap.title %></strong></p>
        <%= snap.user.email if snap.user %>
        <% if snap.user == current_user %>
          <div class="actions">
            <%= link_to edit_snap_path(snap) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to snap, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
