<div id="snaps" class="transitions-enabled">
  <% @snaps.each do |snap| %>
    <div class="box panel panel-default">
      <%= image_tag snap.image.url(:thumb) %>
      <div class="panel-body">
        <%= snap.title %>
        <%= snap.description %>
        <%= snap.user.email if snap.user %>
        <%= link_to 'Show', snap_path(snap) %>
        <% if snap.user == current_user %>
          <%= link_to 'Edit', edit_snap_path(snap) %>
          <%= link_to 'Destroy', snap, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
