<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">	
				<%= image_tag @snap.image.url(:large), class: "img-responsive" %>
			</div>
			<div class="panel-body">
				<p><strong><%= @snap.title %></strong></p>
				<p><%= @snap.description %></p>
				<p>Photo by: <%= @snap.user.username if @snap.user %></p>
        <p>Uploaded: <%= @snap.created_at.strftime("%B %-d, %Y") if @snap.user %></p>
        <p>Taken at: <%= @snap.taken_at.strftime("%B %-d, %Y") if @snap.user %></p>
        <p>Camera: <%= @snap.make %> <%= @snap.model %></p>
        <p>Focal Length: <%= @snap.focallength %></p>
        <p>Shutter Speed: </p>
        <p>Aperture: </p>
        <p>ISO: <%= @snap.iso %></p>
        <% if @snap.user == current_user %>
          <div class="actions">
            <%= link_to edit_snap_path(@snap) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to @snap, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
