<p id="notice"><%= notice %></p>

<%= image_tag @snap.image.url(:large) %>

<p>
  <strong>Title:</strong>
  <%= @snap.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @snap.description %>
</p>

<p>Created at:
	<%= @snap.created_at %>
</p>

<% if @snap.user == current_user %>
	<%= link_to 'Edit', edit_snap_path(@snap) %> |
<% end %>
	<%= link_to 'Back', snaps_path %>

